@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden!important;
}
.navbar{
    box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
}
.font-bold{
    font-weight: 800;
}
.image__gear{
    margin-left: 270px;
}
.topflex{
    display: flex;
    align-items: center;
}
.list__cannI{
    list-style: none;
}
.list__cannI > li{
    font-size: 18px;
}
.text-cross{
    text-decoration: line-through;  
    font-weight: 800;    
}
.text-semiwhite{
    color: #cecece;
}
#becomemem{
    background-color: #e7e7e7;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
#started{
    background-color: #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#topheader{
    background-color: #e7e7e7;
}
.custom__container{
    padding-left: 50px;
    padding-right: 50px;    
}
.yt__video{
    height: 300px;
    width: 600px;
}
.text-semiwhite:hover{
    color: #adadad;
}
@media only screen and (max-width:600px) {
.topflex{
    flex-direction: row-reverse!important;
}   
}
@media only screen and (min-width:4000px){
    .image__gear{
        margin-left: 640px;
    }
    
    .custom__container{
        padding-left: 200px!important;
        padding-right: 100px;
    }
    h1{
        font-size: 5em!important;
    }
    h4{
        font-size: 3em!important;
    }
    h3{
        font-size: 4em!important;
    }
    h5{
        font-size: 2em!important;
    }
    p{
        font-size: 2em!important;
    }
    a{
        font-size: 2em!important;
    }
    .yt__video{
        height: 600px;
        width: 1200px;
    }
    img{
        width: 70%;
    }
    li > a{
        margin-left: .3em;
        margin-right: .3em;
    }
    button{
        font-size: 2em!important;
        border-radius: .3em!important;
        padding: .5em!important;
    }
    .list__cannI{
         margin-left: 800px;
    }
    .list__cannI > li{
        font-size: 2em;
    }
    .list__cannI > li > i{
        font-size: 2em;
    }
}
@media only screen and (min-width:3000px) and (max-width: 4000px) {
    .image__gear{
        margin-left: 640px;
    }
    .custom__container{
        padding-left: 100px!important;
        padding-right: 100px;
    }
    h1{
        font-size: 5em!important;
    }
    h4{
        font-size: 3em!important;
    }
    h3{
        font-size: 4em!important;
    }
    h5{
        font-size: 2em!important;
    }
    p{
        font-size: 2em!important;
    }
    a{
        font-size: 2em!important;
    }
    .yt__video{
        height: 600px;
        width: 1200px;
    }
    img{
        width: 70%;
    }
    li > a{
        margin-left: .3em;
        margin-right: .3em;
    }
    button{
        font-size: 2em!important;
        border-radius: .3em!important;
        padding: .5em!important;
    }
    .list__cannI{
         
    }
    .list__cannI > li{
        font-size: 2em;
    }
    .list__cannI > li > i{
        font-size: 2em;
    }
}
 
@media only screen and (min-width:2000px) and (max-width: 3000px) {
    .custom__container{
        padding-left: 100px;
        padding-right: 100px;
    }
    h1{
        font-size: 3.8em!important;
    }
    h4{
        font-size: 1.8em!important;
    }
    h3{
        font-size: 2.8em!important;
    }
    h5{
        font-size: 0.8em!important;
    }
    p{
        font-size: 1.8em!important;
    }
    a{
        font-size: 1.4em!important;
    }
    .yt__video{
        height: 400px;
        width: 800px;
    }
    img{
        width: 70%;
    }
    li > a{
        margin-left: .2em;
        margin-right: .2em;
    }
    button{
        font-size: 1.6em!important;
        border-radius: .3em!important;
        padding: .5em!important;
    }
    .list__cannI{
         margin-left: 100px;
    }
    .list__cannI > li{
        font-size: 1.4em;
    }
    .list__cannI > li > i{
        font-size: 1.4em;
    }
}


@media only screen and (min-width:1660px) and (max-width: 2000px) {
    .custom__container{
        padding-left: 100px;
        padding-right: 100px;
    }
    h1{
        font-size: 3.8em!important;
    }
    h4{
        font-size: 1.8em!important;
    }
    h3{
        font-size: 2.8em!important;
    }
    h5{
        font-size: 0.8em!important;
    }
    p{
        font-size: 1.6em!important;
    }
    a{
        font-size: 1.4em!important;
    }
    .yt__video{
        height: 400px;
        width: 600px;
    }
    img{
        width: 70%;
    }
    li > a{
        margin-left: .1em;
        margin-right: .1em;
    }
    button{
        font-size: 1.5em!important;
        border-radius: .3em!important;
        padding: .5em!important;
    }
    .list__cannI{
         margin-left: 100px;
    }
    .list__cannI > li{
        font-size: 1.8em;
    }
    .list__cannI > li > i{
        font-size: 1.8em;
    }
}

@media only screen and (max-width:1200px) and (min-width: 760px)  {
    .custom__container{
        padding-left: 60px;
        padding-right: 60px;
    }
    h1{
        font-size: 2.2em!important;
    }
    h4{
        font-size: 1.6em!important;
    }
    h3{
        font-size: 1.8em!important;
    }
    h5{
        font-size: 1.4em!important;
    }
    p{
        font-size: 1em!important;
    }
    a{
        font-size: 1em!important;
    }
    .yt__video{
        height: 250px;
        width: 450px;
    }
    img{
        width: 60%;
    }
    li > a{
        margin-left: .01em;
        margin-right: .01em;
    }
    button{
        font-size: 1em!important;
        border-radius: .3em!important;
        padding: .5em!important;
    }
    .list__cannI{
         margin-left: 100px;
    }
   
    .list__cannI > li{
        font-size: 1.3em;
    }
    .list__cannI > li > i{
        font-size: 1.3em;
    }
}

@media only screen and (max-width:700px){
    .custom__container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .yt__video{
        height: 250px;
        width: 350px;
    }
    .icon{
        width: 150px!important ;
    }
    .bottoms{
        flex-direction: column;
    }
    .topflex{
        width: 100%!important;
    }
    .list__cannI > li{
        font-size: 1.3em;
    }
    .list__cannI > li > i{
        font-size: 1.3em;
    }
} 